{{!-- Main do handlebars define a estrutura padrão de toda a estrutura do app --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog NodeJS</title>
</head>
<body>
    {{!-- Definido por padrão a navbar, sempre irá aparecer no topo --}}
    {{>_navbar}}



    {{!-- O body sempre estará centralizado em um container --}}
    <div class="container mt-4">
        {{!-- Definido por padrão o local que irá aparecer 
        as mensagens na tela --}}
        {{>_msg}}
        {{{body}}}    
    </div>    
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
</html>